body{
  background-color: #D1E7FE;
  margin-left: 0.5em;
}

.card{
  border-radius: 20px;
  border: outset;
  box-shadow: 2px 2px #4BA5FB;
  height: 280px;
  width: 400px;
  background-color: #36ACBF;
  font-size: 18px;
  font-weight: 600;
}
p{
  font-style: italic;
}
.card:hover{
  background-color: #8A5398;
}
form{
  
  border: 1px rgb(6, 7, 7) solid;
  margin: 1em;
  background-color:#D3E8FE;
  line-height: 25px;
  padding-left: 20px;
}

#form{
  border-radius: 20px;
  background-color: #92BAE8;
  height: 25em;
}