{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
    
        
                
                   <h3 style="text-align: center;">All Pitches</h3>
                    {{ macro.display(pitches) }}
                
                
                
                    {{ macro.display(games)}}
                
                
                    
                    {{ macro.display(business) }}
                
                
                
                    {{ macro.display(education) }}
                    
{% endblock%}