{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
    
        <div  class="container">
                <h2 class="text-center" color="black">Pitches</h2>
            <ul>
                <li >
                    <a href="#all"><strong>Pitches</strong> </a>
                </li>
                <li>
                  <a  href="#games">Games Pitches</a>
                </li>
                <li>
                  <a href="#business">Busines Pitches</a>
                </li>
                <li>
                  <a href="#education">Education Pitches</a>
                </li>
            </ul>
            <div>
                <div  class="container">
                    {{ macro.display(pitches) }}
                </div>
                <div>
                    {{ macro.display(games)}}
                </div>
                <div>
                    {{ macro.display(business) }}
                </div>
                <div>
                    {{ macro.display(education) }}
                    
                </div>
            </div>
        </div>
{% endblock%}