{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
    
        
                
                   <h3 style="text-align: center; color: blue;">All Pitches</h3>
                   <div style="background-color:aqua">
                   {{ macro.display(pitches) }}
                   </div>
                
                
                   {{ macro.display(games)}}
                
                
                    
                    {{ macro.display(business) }}
                
                
                
                    {{ macro.display(education) }}
                    
{% endblock%}