
{% macro display(piches) %}
{% for category in piches %}
<div class="col-md-4 mt-3 d-inline-block" >
	<div class="card p-3 m-2">
		<h4>{{category.title}}</h4>
		  <p>{{category.title}}</p>
			<p> Category: {{category.category}}</p>
			<p>Posted By:{{category.user.username}}</p>
			<div class="d-flex justify-content-between">
				<div class="d-flex justify-content-around">
					<span>{{category.comment.count()}} Comments</span>
						<span><a href="{{url_for('main.like',id = category.id)}}"><i class="fa-duotone fa-thumbs-up" style="font-size: 15px;"></i></a> {{category.upvote.count()}}</span>
						<span><a href="{{url_for('main.dislike',id = category.id)}}"><i class="fa-duotone fa-thumbs-down" style="font-size: 15px;"></i></a> {{category.downvote.count()}}</span>
				</div>
				<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-success btn-sm"> Comment</a>
			</div>			
    </div>
	  </div>
		{% endfor %}
		{% endmacro %}
	






		